In [4]:
import yfinance as yf

# Fetch the historical stock data for AAPL in the last 2 years
aapl = yf.download('AAPL', start='2021-07-10')

# Print the retrieved data 
# 使用 adj close 作为收盘价

[*********************100%***********************]  1 of 1 completed

In [5]:
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-12,146.210007,146.320007,144.000000,144.500000,142.826279,76299700
2021-07-13,144.029999,147.460007,143.630005,145.639999,143.953079,100827100
2021-07-14,148.100006,149.570007,147.679993,149.149994,147.422424,127050800
2021-07-15,149.240005,150.000000,147.089996,148.479996,146.760162,106820300
2021-07-16,148.460007,149.759995,145.880005,146.389999,144.694397,93251400
...,...,...,...,...,...,...
2023-07-03,193.779999,193.880005,191.759995,192.460007,192.460007,31458200
2023-07-05,191.570007,192.979996,190.619995,191.330002,191.330002,46920300
2023-07-06,189.839996,192.020004,189.199997,191.809998,191.809998,45094300
2023-07-07,191.410004,192.669998,190.240005,190.679993,190.679993,46778000
2023-07-10,189.259995,189.990005,187.149994,188.349899,188.349899,14095887